
.b-blue {
  border: 2px solid blue;
}
.left-main {
  width: 217px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem;
  background-color: #F5F4F7;
  overflow-y: auto;
}

.central-main {
  /* width:60vw; */
}
.right-main {
  width: 28vw;
  padding:0rem 0.5rem;
}

.dashboard-container {
  margin-left: 217px;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}
