.header-title {
  font-size: 20px;
  font-weight: 510;
  line-height: 23.87px;
  letter-spacing: -0.02em;
  text-align: left;
}

.sub-header-title {
  font-weight: 560;
  font-size: 16px;
}

.width-90 {
  width: 90%;
}

.common-btn {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  height: auto;
  width: fit-content;
  background: #1a1a1a;
  border-radius: 4px;
  color: white;
  font-size: 10px;
  /* font-weight: 510; */
  line-height: 9.55px;
  letter-spacing: -0.02em;
  text-align: left;
}

.common-btn:disabled {
  background-color: grey;
}

.common-trends-container {
  margin-top: 20px;
  border: 0.8px solid #e6e6e6;
  padding: 0.2rem;
  border-radius: 4px;
}

.commmon-line-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
}

.common-container {
  width: 642px;
  box-sizing: border-box;
  padding: 0rem 1rem;
  gap: 8px;
}

.common-title {
  font-weight: 590;
  margin-left: 0.4rem;
  font-size: 16px;
}

.page-not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa;
  color: #333;
}

.not-found-content {
  text-align: center;
  padding: 30px;
  border: 2px solid #ddd;
  border-radius: 10px;
  background-color: #ffffff;
}

.not-found-title {
  font-size: 120px;
  font-weight: bold;
  color: #ff6347; /* Tomato color */
}

.not-found-message {
  font-size: 24px;
  margin-top: 10px;
}

.not-found-description {
  font-size: 16px;
  color: #6c757d;
  margin: 20px 0;
}

.back-home-button {
  font-size: 16px;
  color: #ffffff;
  background-color: #007bff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.back-home-button:hover {
  background-color: #0056b3;
  cursor: pointer;
}
