.header-title {
  font-size: 20px;
  font-weight: 510;
  line-height: 23.87px;
  letter-spacing: -0.02em;
  text-align: left;
}


.sub-header-title{
  font-weight: 560;
  /* margin-left: 0.4rem; */
  font-size: 16px;
}